services:
  cli:
    build:
      context: ./cli
      dockerfile: Dockerfile
      target: development
    container_name: cli
    # ports:
    #   - "80:3000"
    #   - "3000:3000"
    volumes:
      - ./cli:/cli
      - /cli/node_modules
    stdin_open: true
    tty: true
  api:
    build:
      context: ./api
      dockerfile: Dockerfile
      target: development
    container_name: api
    restart: always
    ports:
      - "8000:8000"
      - "7000:7000"
    volumes:
      - ./api:/api
      - /api/node_modules
    depends_on:
      broker:
        condition: service_started
      mongo:
        condition: service_healthy
  broker:
    image: eclipse-mosquitto
    container_name: broker
    ports:
      - 1883:1883
    volumes:
      - ./broker/config:/mosquitto/config
      - ./broker/data:/mosquitto/data
      - ./broker/log:/mosquitto/log
  mongo:
    ports:
      - "27017:27017"
    image: mongo
    container_name: mongo
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.runCommand('ping').ok"]
      interval: 5s
      timeout: 5s
      retries: 3
      start_period: 5s
    volumes:
      - mongo:/data/db

  db:
    image: mysql:8.0
    container_name: mysql
    restart: unless-stopped
    env_file: .env
    ports:
      - "3306:3306"
    environment:
      - MYSQL_DATABASE=wordpress
    volumes:
      - dbdata:/var/lib/mysql
    command: "--default-authentication-plugin=mysql_native_password"

  wordpress:
    depends_on:
      - db
      # - cli
    image: wordpress
    container_name: wp
    restart: unless-stopped
    env_file: .env
    environment:
      - WORDPRESS_DB_HOST=db:3306
      - WORDPRESS_DB_USER=$MYSQL_USER
      - WORDPRESS_DB_PASSWORD=$MYSQL_PASSWORD
      - WORDPRESS_DB_NAME=wordpress
    volumes:
      - wordpress:/var/www/html
      - certbot-etc:/etc/letsencrypt
      # - cli:/var/www/html/wp-content/plugins/gerarareact/frontend
      # - ./wp/apache-ssl.conf:/etc/apache2/sites-available/000-default.conf
      # - ./wp/gerarareact:/var/www/html/wp-content/plugins/gerarareact
    # command: bash -c "a2enmod ssl && apache2-foreground"

  webserver:
    depends_on:
      - wordpress
    image: nginx:1.15.12-alpine
    container_name: webserver
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - wordpress:/var/www/html
      - ./wp/nginx-conf:/etc/nginx/conf.d
      - certbot-etc:/etc/letsencrypt

volumes:
  mongo:
  api:
  certbot-etc:
  wordpress:
  dbdata:
  cli: