services:
  cli:
    build:
      context: ./cli
      dockerfile: Dockerfile
      target: production
    image: riko2018/iot-client
  api:
    build:
      context: ./api
      dockerfile: Dockerfile
      target: production
    image: riko2018/iot-api
