services:
  client:
    build:
      context: ./client
      dockerfile: Dockerfile
      target: development
    container_name: dev-cli
    restart: always
    ports:
      - "3000:3000"
    stdin_open: true
    tty: true
  api:
    build:
      context: ./api
      dockerfile: Dockerfile
      target: development
    container_name: dev-api
    restart: always
    ports:
      - '8000:8000'
      - '7000:7000'
    depends_on:
      broker:
        condition: service_started
      mongo:
        condition: service_started
  broker:
    image: eclipse-mosquitto
    container_name: broker
    ports:
      - 1883:1883
    volumes:
      - ./broker/config:/mosquitto/config
      - ./broker/data:/mosquitto/data
      - ./broker/log:/mosquitto/log
  mongo:
    ports:
      - "27017:27017"
    image: mongo
    container_name: mongo
    volumes:
      - mongo:/data/db
volumes:
  mongo: