services:
  cli:
    build:
      context: ./cli
      dockerfile: Dockerfile
      target: production
      args:
        - ENVIRONMENT=remote
    image: riko2018/gerara-cli
  api:
    build:
      context: ./api
      dockerfile: Dockerfile
      target: production
      args:
        - ENVIRONMENT=remote
    image: riko2018/gerara-api
