services:
  client:
    build:
      context: ./client
      dockerfile: Dockerfile
      target: production
    image: riko2018/iot-client
  api:
    build:
      context: ./api
      dockerfile: Dockerfile
      target: production
    image: riko2018/iot-api
