services:
  cli:
    build:
      context: ./cli
      dockerfile: Dockerfile
      target: development
    container_name: cli
    ports:
      - "3000:3000"
    volumes:
      - ./cli:/cli
      - /cli/node_modules
    stdin_open: true
    tty: true
  api:
    build:
      context: ./api
      dockerfile: Dockerfile
      target: development
    container_name: api
    restart: always
    ports:
      - "8000:8000"
      - "7000:7000"
    volumes:
      - ./api:/api
      - /api/node_modules
    depends_on:
      broker:
        condition: service_started
      mongo:
        condition: service_healthy
  broker:
    image: eclipse-mosquitto
    container_name: broker
    ports:
      - 1883:1883
    volumes:
      - ./broker/config:/mosquitto/config
      - ./broker/data:/mosquitto/data
      - ./broker/log:/mosquitto/log
  mongo:
    ports:
      - "27017:27017"
    image: mongo
    container_name: mongo
    healthcheck:
      test: echo 'db.runCommand("ping").ok' | mongosh localhost:27017/test --quiet
      interval: 5s
      timeout: 5s
      retries: 3
      start_period: 5s
    volumes:
      - mongo:/data/db
volumes:
  mongo:
