// Override default variables before the import
// $body-bg: #000;

// Import Bootstrap and its default variables
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 720px,
  xl: 720px,
  xxl: 720px,
);

@import "~bootstrap/scss/bootstrap.scss";



li {
  list-style: none;
}
